node_red/arduino_quickstart.json
[{
	"id": "4b011ade.19d744",
	"type": "tab",
	"label": "Flow 1"
}, {
	"id": "24c2ad12.f49242",
	"type": "serial-port",
	"z": "",
	"serialport": "/dev/cu.usbmodem1421",
	"serialbaud": "9600",
	"databits": "8",
	"parity": "none",
	"stopbits": "1",
	"newline": "\\n",
	"bin": "false",
	"out": "char",
	"addchar": false
}, {
	"id": "dfc7759d.269538",
	"type": "debug",
	"z": "4b011ade.19d744",
	"name": "",
	"active": true,
	"console": "true",
	"complete": "payload",
	"x": 174,
	"y": 306,
	"wires": []
}, {
	"id": "382a2cec.95f614",
	"type": "serial in",
	"z": "4b011ade.19d744",
	"name": "",
	"serial": "24c2ad12.f49242",
	"x": 237,
	"y": 171,
	"wires": [
		["dfc7759d.269538", "5de640bc.98b87"]
	]
}, {
	"id": "5de640bc.98b87",
	"type": "wiotp out",
	"z": "4b011ade.19d744",
	"authType": "d",
	"qs": "true",
	"qsDeviceId": "gas_sensor_1",
	"deviceKey": "",
	"deviceType": "",
	"deviceId": "",
	"event": "event",
	"format": "json",
	"name": "",
	"x": 553,
	"y": 95,
	"wires": []
}]
